body {
    margin: 0;
    padding: 0;
    background: #F3F2EF;
}
button, input[type="button"], input[type="submit"]{
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 5%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 10px;
    padding: 20px 80px;
    font: normal 18px sans-serif;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 130px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 8px;
    font: normal 18px sans-serif;
    background: white;
}
.small-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.small_header-button {
    height: 30px;
}
.language-button-block {
    position: relative;
}
.language-button {
    position: relative;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 0;
    height: 40px;
    z-index: 15;
    background: white;
    width: 130px;
    margin-top: 2px;
    font: normal 18px sans-serif;
}
.language-button:hover {
    background: #eeeeee;
    border: 2px solid gray;
}
.language-button:first-child {
    margin-top: 0;
}
.other-languages {
    flex-direction: column;
    position: absolute;
    top: 10px;
    opacity: 0;
    transition-duration: .2s;
    z-index: -5;
}
.other-languages.active {
    position: absolute;
    top: 42px;
    opacity: 1;
    z-index: 15;
}
.other-language {
    display: flex;
}
.language-manage-buttons{
    display: flex;
    width: 50px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: gray;
    border-radius: 0 5px 5px 0;
    background-color: #e8e8e8;
    margin-left: -40px;
    transition-duration: .2s;
}
.language-manage-buttons:hover {
    margin-left: 0;
}
.language-manage-button {
    width: 20px;
    height: 100%;
    border: 0;
    padding: 0;
}
.language-manage-button img {
    width: 15px;
    height: 15px;
}
.delete-language {
    background-color: #ab1919;
}
.rename-language {
    background-color: #bebe1b;
}
.translation_type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    align-items: center;
    margin: 10px 0;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.content-button-container {
    padding: 0 20px;
}
.content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: white;
    border: 1px solid gray;
}
.content-button:hover {
    background: #eeeeee;
    border: 2px solid gray;
}
.content-button img {
    width: 20px;
}
.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 25%;
    font: normal 16px sans-serif;
}
.text_name {
    margin-right: 10px;
}
.text_translation {
    visibility: hidden;
}
.manager-container {
    height: 20px;
    width: 20px;
    position: relative;
    margin-left: 10px;
}
.manager {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 100%;
    border: 0;
    z-index: 10;
}
.manager img {
    width: 15px;
}
.manager_block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -22px;
    right: -100px;
    min-width: 100px;
    opacity: 0;
    z-index: 5;
    transition-duration: .2s;
}
.manager_block.active {
    right: -120px;
    opacity: 1;
}
.popups {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    transition-duration: .2s;
}
.success_popup {
    position: absolute;
    top: 5%;
    display: none;
    background-color: #9abe63;
    border: 1px solid #627346;
    border-radius: 20px;
    z-index: 15;
    padding: 20px 250px;
    opacity: 0;
    transition-duration: .2s;
    font: normal 16px sans-serif;
}
.sure_popup {
    position: absolute;
    flex-direction: column;
    display: none;
    background-color: white;
    border: 1px solid #627346;
    border-radius: 20px;
    z-index: 15;
    padding: 20px;
    opacity: 0;
    transition-duration: .2s;
    font: normal 16px sans-serif;
}
.sure_popup_buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.popup input[name="close"] {
    width: 25px;
    height: 25px;
    align-self: flex-end;
    background: red url("images/cross.png") no-repeat center;
    background-size: 60%;
    border-radius: 8px;
    border: 0;
}
.popup input[type="text"] {
    width: 200px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 6px;
}
.popup input[type="text"]:focus {
    outline: none;
}
.popup textarea {
    width: 250px;
    height: 50px;
    border: 1px solid #cccccc;
    border-radius: 6px;
}
.popup textarea {
    outline: none;
}
.popup input[type="submit"] {
    width: 100px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    align-self: center;
}
.popup input, .popup label {
    margin-top: 10px;
}
.popup input:first-child, .popup label:first-of-type {
    margin-top: 0;
}
.popup label {
    display: flex;
    flex-direction: column;
    font: normal 16px sans-serif;
}
.popup label input {
    margin-top: 2px;
}